@import '../../shared\assets\fonts\fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 832px;
  font-family: 'Segoe UI', 'Jost', 'Open sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: black;
}
