.button {
  width: 437px;
  height: 53px;
  background-color: rgba(249, 1, 61, 0.8);
  color: white;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.disabled {
  background-color: rgba(125, 125, 125, 0.7);
  cursor: not-allowed;
  opacity: 0.6;
}

.transparent {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-weight: 350;
  font-size: 20px;
  border: none;
}

.button:active:not(.transparent) {
  background-color: rgba(180, 0, 44, 1);
;
}
