:root {
  --bg-color: #ffffff;
  --text-color: #111827;
  --primary-color: #f9013d;
  --secondary-color: #f2f2f2;
  --inverted-bg-color: #111827;
  --inverted-text-color: #ffffff;
}

body.app_dark_theme {
  --bg-color: #121212;
  --text-color: #e5e7eb;
  --primary-color: #ff3b6b;
  --secondary-color: #1e1e1e;
  --inverted-bg-color: #e5e7eb;
  --inverted-text-color: #121212;
}