.button {
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}